.ct-share-box {
	
	.ct-module-title {
		display: block;
		font-size: var(--font-size, 14px);
		font-weight: var(--font-weight, 700);
		margin: var(--margin, 0 0 10px 0);
	}

	.ct-label {
		display: none;
	}
}